.background {
  position: relative;
}

.background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../assest/img/ball-triangle.svg) center / 80px no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  z-index: 5;
}

.background._sending::after {
  opacity: 1;
  z-index: 5;
  visibility: visible;
}

.contacts {
  margin-bottom: var(--mb-main);

  &__container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  &__title {
    margin-left: 50px;
  }

  &__desc {
    padding: 30px 50px 50px;
    margin-bottom: 20px;
  }

  .pd {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__content {
    flex-direction: column;
    justify-content: space-between;

    .item {
      display: grid;
      grid-template-columns: 1fr 1fr;

      &__title {
        padding-right: 50px;
        font-family: Bergamasco;
        font-size: 29px;
        font-weight: 600;
      }

      &__desc {
        display: block;
        max-width: 540px;
      }

      &__tel {
        display: block;
        width: fit-content;
      }

      &__link {
        color: #322473;
        transition: color 0.3s ease-in-out;
      }

      &__link:hover,
      &__link:focus,
      &__link:active {
        color: #fff;
        transition: color 0.3s ease-in-out;
      }
    }

    .item:not(:last-child) {
      margin-bottom: 30px;
    }

    .btn {
      margin: 0;
      width: fit-content;
    }

    .uk-button {
      margin-left: 50px;
    }
  }

  &__img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .form {
    .form__inputs {
      position: relative;

      .form__input {
        display: block;
        width: 100%;
        height: 90px;
        font-weight: 600;
        font-size: 24px;
        line-height: 19px;
        color: #000;
      }

      .form__input._error {
        box-shadow: 1px 1px 7px 6px red;
      }

      .input-i {
        position: absolute;
        left: 21px;
        top: 30px;
        z-index: 1;
        font-weight: 400;
        font-size: 20px;
        line-height: 19px;
        color: #000;
        transition: all 0.3s ease-in-out;
      }

      .input-i i {
        color: #d61a1a;
      }

      .new__input--active {
        top: 8px;
        left: 40px;
        font-size: 14px;
        line-height: 14px;
      }

      .js-validate-error-label {
        position: absolute;
        top: -30px;
        left: 0;
      }

      .form__input.js-validate-error-field {
        color: #000 !important;
      }
    }
    &__desc {
      margin-bottom: 30px;
    }
    .input {
      flex-direction: column;

      input {
        padding: 15px;
        margin-bottom: 30px;
      }

      textarea {
        padding: 35px 15px 20px;
        min-height: 200px;
        resize: vertical;
      }

      textarea,
      input {
        outline: none;
        border-radius: 50px;
        border: 1px solid #71a7e2;
        background-color: rgba(113, 167, 226, 0.2);
      }

      textarea:hover,
      input:hover,
      textarea:focus,
      input:focus,
      textarea:active,
      input:active {
        border-color: #fff;
      }
    }

    .sending {
      flex-direction: column;
      padding-left: 50px;

      &__box {
        margin-bottom: 15px;
      }

      .btn {
        margin-right: 10px;
        height: fit-content;
      }

      &__box._error .sending__label::before {
        box-shadow: 1px 1px 7px 6px red;
      }

      &__input {
        display: none;
      }

      &__input:checked + .sending__label::after {
        transform: scale(1);
      }

      &__label {
        position: relative;
        margin-bottom: 0;
        display: inline-flex;
        align-items: center;
        width: 100%;
        font-size: 16px;
        cursor: pointer;
      }

      &__label::before {
        content: "";
        align-self: flex-start;
        margin-right: 10px;
        flex: 0 0 30px;
        height: 30px;
        background-color: #fff;
        border-radius: 4px;
      }

      &__label::after {
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        width: 22px;
        height: 22px;
        background-color: green;
        border-radius: 4px;
        transform: scale(0);
        transition: transform 0.3s ease-in-out;
      }

      &__desc,
      &__link {
        font-size: 20px;

        i {
          color: red;
        }
      }
    }
  }

  .contacts-modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    justify-content: center;
    height: fit-content;
    border-radius: 25px;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease-in-out;

    &__title {
      text-align: center;
      font-size: 34px;
      font-weight: 600;
      line-height: 55px;
    }

    &__close {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 60px;
      height: 60px;
      z-index: 10;
      cursor: pointer;

      .line {
        position: absolute;
        top: 0;
        right: 50%;
        left: 50%;
        width: 6px;
        height: 50px;
        background-color: #cfcf6c;
      }

      .line-1 {
        transform: rotate(45deg);
      }

      .line-2 {
        transform: rotate(-45deg);
      }
    }

    &__close:focus .line,
    &__close:hover .line,
    &__close:active .line {
      background-color: #3c2885;
    }
  }

  .sent {
    padding: 100px 30px;
    max-width: 570px;
    height: 300px;
  }

  .error {
    padding: 80px 30px;
    max-width: 745px;
    background-color: #f65353;
  }
  .sent--active,
  .error--active {
    opacity: 1;
    z-index: 5;
    transition: opacity 0.3s ease-in-out;
  }
}
