@media (max-width: 1500px) {
  .hero__container .slider .swiper-wrapper .slide__img {
    width: 1000px;
  }
  .cottages__list {
    gap: 25px;
  }
  .slider-all-block .image-mini-slider {
    height: 55px;
  }
  .slider-all-block .image-mini-slider__slide {
    width: 120px !important;
  }
  .slider-all-block .image-mini-slider__slide:not(:last-child) {
    margin-right: 10px;
  }
  .contacts__desc {
    padding: 30px 30px 50px;
  }
  .contacts .pd {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .route .slogan__desc {
    font-size: 50px;
  }
}
@media (max-width: 1280px) {
  :root {
    --font-size-p-title: 26px;
    --font-size-p: 24px;
    --footer-fs-top: 18px;
    --footer-fs-bot: 14px;
  }
  .title-h1 {
    font-size: 44px;
  }
  .title-h2 {
    font-size: 34px;
  }
  .header__container {
    height: 120px;
  }
  .header__container .nav {
    width: 80px;
  }
  .header__container .nav__list {
    position: absolute;
    flex-direction: column;
    align-items: start;
    padding: 145px 30px 75px 50px;
    top: 0;
    left: 0;
    z-index: 15;
    background-color: #0b6161;
    color: #fff;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  .header__container .nav__item h3 {
    color: #fff;
  }
  .header__container .nav__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .header__container .nav__link {
    font-family: Montserrat;
    font-size: 24px;
    line-height: 100%;
    color: #fff;
  }
  .header__container .nav__list--active {
    visibility: visible;
    transform: none;
  }
  .header__container .burger {
    position: absolute;
    display: block;
    top: 42px;
    left: 50px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 10;
    width: 80px;
    height: 60px;
    border: 2px solid transparent;
  }
  .header__container .burger__line {
    position: absolute;
    left: 50%;
    width: 80px;
    height: 6px;
    border-radius: inherit;
    background-color: #a39fb5;
    transform: translateX(-50%);
  }
  .header__container .burger__line:nth-child(1) {
    top: 0;
  }
  .header__container .burger__line:nth-child(3) {
    bottom: 0;
  }
  .header__container .burger__line:nth-child(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .header__container .burger--active {
    left: 220px;
    right: 0;
    margin-left: 0;
    margin-right: 0;
    z-index: 20;
  }
  .header__container .burger--active .burger__line:nth-child(2) {
    opacity: 0;
  }
  .header__container .burger--active .burger__line:first-child {
    left: 13%;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
    z-index: 1000;
    background-color: #fff;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }
  .header__container .burger--active .burger__line:last-child {
    bottom: auto;
    left: 13%;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    z-index: 1000;
    background-color: #fff;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }
  .hero__container .slider .swiper-wrapper .slide__img {
    width: 880px;
  }
  .hero__container .slider .swiper-wrapper .slide__title {
    margin-bottom: 5px;
    font-size: 20px;
  }
  .hero__container .slider .swiper-wrapper .slide__content {
    padding: 5px;
    min-width: 300px;
  }
  .hero__container .slider .swiper-wrapper .slide__content p {
    font-size: 20px;
  }
  .slider-all-block .slider-all {
    height: 500px;
    width: 91%;
  }
  .slider-all-block__desc:not(:last-child) {
    margin-bottom: 10px;
  }
  .slider-all-block .image-mini-slider__slide {
    width: 75px !important;
  }
  .slider-all-block .slider-control {
    height: 500px;
  }
  .contacts__container {
    grid-template-columns: 1fr;
  }
  .booking__desc {
    line-height: 35px;
  }
  .promotions .block__ribbon {
    right: 130px;
  }
  .promotions .block__ribbon .ribbon__block {
    width: 100px;
    height: 273px;
  }
  .promotions .block__ribbon .ribbon__block span {
    font-size: 27px;
    line-height: 41px;
  }
  .promotions .block__title {
    top: 10px;
    left: 10px;
    font-size: 33px;
  }
  .route .slogan__img {
    height: 250px;
  }
  .route .slogan__desc {
    font-size: 38px;
  }
  .route .slogan__top {
    top: 30px;
    left: 15px;
  }
  .route .slogan__bottom {
    bottom: 30px;
    right: 15px;
  }
  .footer__top .contact {
    gap: 30px;
  }
}
@media (max-width: 1175px) {
  .hero__container .slider .swiper-wrapper .slide__img {
    width: 740px;
  }
  .cottages__list .item__btn {
    font-size: 16px;
  }
}
@media (max-width: 879px) {
  :root {
    --mb-main: 30px;
    --mb-section: 15px;
    --mb-block: 10px;
    --mb-p-select: 20px;
    --font-size-p-title: 16px;
    --font-size-p: 14px;
    --footer-fs-top: 14px;
    --footer-fs-bot: 12px;
  }
  .wrapper {
    padding: 30px 10px 30px;
  }
  .title-h1 {
    font-size: 22px;
  }
  .title-h2 {
    font-size: 20px;
  }
  .btn {
    margin-bottom: 15px;
  }
  .social__item img {
    height: 25px;
  }
  .social__item a {
    display: flex;
    align-items: center;
    height: 27px;
  }
  .social .vk,
  .social .ok {
    border-radius: 5px;
  }
  .header {
    padding: 0;
    padding: 10px 0;
  }
  .header__container {
    justify-content: space-around;
    height: 65px;
  }
  .header__container .logo {
    padding: 5px 15px 5px;
    height: 65px;
    border-radius: 5px;
  }
  .header__container .logo__title {
    width: 100px;
    text-align: start;
    font-size: 15px;
  }
  .header__container .logo__img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .header__container .logo .tel {
    width: 123px;
    font-size: 14px;
  }
  .header__container .logo .social {
    width: -moz-fit-content;
    width: fit-content;
  }
  .header__container .logo-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header__container .burger {
    top: 30px;
    left: 26px;
    width: 50px;
    height: 35px;
  }
  .header__container .burger__line {
    width: 40px;
    height: 3px;
  }
  .header__container .burger--active {
    top: 10px;
    left: 210px;
  }
  .header__container .nav__list {
    padding: 80px 0px 60px 15px;
  }
  .header__container .nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .hero {
    margin-bottom: 50px;
  }
  .hero__container .slider .swiper-wrapper .slide__img {
    width: 560px;
    height: auto;
  }
  .hero__container .slider .swiper-wrapper .slide__title {
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 10px;
  }
  .hero__container .slider .swiper-wrapper .slide__content {
    padding: 5px;
    min-width: 195px;
  }
  .hero__container .slider .swiper-wrapper .slide__content p {
    font-size: 10px;
  }
  .hero__container .slider .swiper-wrapper .slide__btn {
    left: 10px;
    bottom: 10px;
    padding: 10px 15px;
    font-size: 14px;
  }
  .hero__container .arrow {
    width: 100%;
  }
  .hero__container .arrow__item {
    width: 12px;
    height: 110px;
  }
  .hero__container .swiper-pagination {
    bottom: -20px;
  }
  .offers__container .offers__list {
    gap: 15px;
  }
  .offers__container .offers__list .item__img {
    width: 213px;
    height: 213px;
  }
  .offers__container .offers__desc {
    padding: 10px;
  }
  .cottages__list .item__content {
    padding: 0 20px 20px;
  }
  .cottages__list .item__desc {
    margin-bottom: 10px;
  }
  .cottages__list .item__desc:not(:last-child) {
    margin-bottom: 5px;
  }
  .slider-all-block .slider-all {
    height: 325px;
  }
  .slider-all-block__desc:not(:last-child) {
    margin-bottom: 5px;
  }
  .slider-all-block .image-mini-slider {
    height: 35px;
  }
  .slider-all-block .image-mini-slider__slide {
    width: 37px !important;
  }
  .slider-all-block .image-mini-slider__image img {
    border-radius: 3px;
  }
  .slider-all-block .slider-control {
    top: 59px;
    height: 325px;
  }
  .slider-all-block .slider-control .arrow__item {
    width: 15px;
    height: 100px;
  }
  .slider-all-block .slider-control .slider-close {
    top: -55px;
    right: 15px;
  }
  .slider-all-block .slider-control .slider-close .line {
    width: 4px;
    height: 30px;
  }
  .contacts__content .item__title {
    font-size: 18px;
  }
  .contacts__content .item__desc a, .contacts__content .item__desc p {
    font-size: 16px;
  }
  .contacts .form .form__inputs .input-i {
    font-size: 14px;
  }
  .contacts .form__desc {
    font-size: 16px;
  }
  .contacts .form .sending__desc,
  .contacts .form .sending__link,
  .contacts .form .sending__link i {
    font-size: 16px;
  }
  .booking__content {
    padding: 20px 10px 40px;
  }
  .booking__desc {
    line-height: 25px;
  }
  .promotions .block__ribbon {
    right: 70px;
  }
  .promotions .block__ribbon .ribbon__block {
    width: 62px;
    height: 155px;
  }
  .promotions .block__ribbon .ribbon__block .rotate {
    top: 49px;
    right: -25px;
    letter-spacing: 6px;
    line-height: 35px;
  }
  .promotions .block__ribbon .ribbon__block span {
    font-size: 19px;
    line-height: 23px;
    display: block;
  }
  .promotions .block__title {
    top: 0;
    left: 0;
    font-size: 17px;
  }
  .promotions .block .btn {
    bottom: 15px;
    display: table;
    padding: 10px;
    border-radius: 5px;
  }
  .promotions .block__link-l {
    left: 10px;
  }
  .promotions .block__link-r {
    right: 10px;
  }
  .route .slogan__img {
    height: 175px;
  }
  .route .slogan__desc {
    font-size: 24px;
  }
  .route .slogan__top {
    top: 15px;
    left: 10px;
  }
  .route .slogan__bottom {
    bottom: 15px;
    right: 10px;
  }
  .footer {
    padding: 10px 5px 10px;
  }
  .footer__container .footer__top {
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  .footer__container .footer__top .logo__img {
    width: 80px;
    height: 80px;
  }
  .footer__container .footer__top .contact {
    gap: 30px;
  }
  .footer__container .footer__top .contact__item {
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer__container .footer__top .contact__item svg {
    width: 20px;
    height: 20px;
  }
  .footer__container .footer__bottom {
    flex-direction: column;
  }
  .footer__container .footer__bottom .footer__dscr:not(:last-child) {
    margin-bottom: 10px;
    margin-right: 0;
  }
}
@media (max-width: 710px) {
  .hero {
    margin-bottom: 60px;
  }
  .hero__container .slider .swiper-wrapper .slide__img {
    width: 435px;
  }
  .hero__container .slider .swiper-wrapper .slide__content {
    top: 15px;
    right: 5px;
  }
  .hero__container .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
  }
  .route .slogan__img {
    height: 145px;
  }
  .route .slogan__desc {
    font-size: 20px;
  }
  .route .slogan__top {
    top: 15px;
    left: 10px;
  }
  .route .slogan__bottom {
    bottom: 15px;
    right: 10px;
  }
}
@media (max-width: 535px) {
  .hero__container .slider {
    padding: 0;
  }
  .hero__container .slider .swiper-wrapper .slide__img {
    width: 360px;
  }
  .cottages__list .item {
    width: 100%;
  }
  .cottages__list .item__btn {
    font-size: 10px;
  }
  .cottages__list .item:nth-child(3) {
    margin-bottom: 20px;
  }
  .route .slogan__img {
    height: 110px;
  }
  .route .slogan__desc {
    font-size: 14px;
  }
  .route .slogan__top {
    top: 15px;
    left: 10px;
  }
  .route .slogan__bottom {
    bottom: 15px;
    right: 10px;
  }
  .footer__container .footer__top .contact {
    gap: 20px;
  }
  .footer__container .social__item:not(:last-child) {
    margin-right: 5px;
  }
}
@media (max-width: 460px) {
  :root {
    --font-size-p-title: 14px;
    --font-size-p: 12px;
  }
  .wrapper {
    padding: 10px 10px 10px;
  }
  .title-h1 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .title-h2 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .btn {
    border-radius: 7px;
  }
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header__container {
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
  }
  .header__container .logo {
    padding: 5px 9px 5px;
    height: 40px;
  }
  .header__container .logo__img {
    width: 30px;
    height: 30px;
  }
  .header__container .logo__title {
    width: 66px;
    text-align: start;
    font-size: 10px;
  }
  .header__container .logo .tel {
    margin-right: 0;
    width: 88px;
    font-size: 10px;
  }
  .header__container .logo .social__item img {
    height: 16px;
  }
  .header__container .logo .social__item a {
    height: 16px;
  }
  .header__container .logo .social__item:not(:last-child) {
    margin-right: 10px;
  }
  .header__container .burger {
    top: 13px;
    left: 18px;
  }
  .header__container .burger--active {
    top: 10px;
    left: 233px;
  }
  .header__container .nav__list {
    padding: 45px 0px 60px 15px;
  }
  .header__container .header__tel {
    margin-bottom: 2px;
  }
  .hero {
    margin-bottom: 10px;
  }
  .hero__container .slider {
    margin-bottom: 25px;
  }
  .hero__container .slider__container .swiper-wrapper .slide__img {
    width: 100%;
    height: 170px;
    border-radius: 10px 10px 0 0;
  }
  .hero__container .slider__container .swiper-wrapper .slide__btn {
    left: 10px;
    top: 135px;
    height: -moz-fit-content;
    height: fit-content;
    padding: 5px 10px;
    font-size: 10px;
  }
  .hero__container .slider__container .swiper-wrapper .slide__content {
    position: static;
    width: 100%;
    border-radius: 0 0 10px 10px;
    box-shadow: none;
  }
  .hero__container .swiper-pagination {
    bottom: -15px;
  }
  .hero__container .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
  .offers {
    margin-bottom: 20px;
  }
  .offers .offers__container .offers__list {
    gap: 10px;
  }
  .offers .offers__container .offers__list .item__img {
    width: 281px;
    height: 282px;
    border-radius: 20px;
  }
  .offers .offers__container .offers__list .item__title {
    padding: 5px;
  }
  .offers .offers__container .offers__desc {
    padding: 10px;
  }
  .slider-all-block .slider-all {
    height: 230px;
  }
  .slider-all-block .image-mini-slider {
    height: 25px;
  }
  .slider-all-block .image-mini-slider__slide {
    width: 29px !important;
  }
  .slider-all-block .image-mini-slider__slide:not(:last-child) {
    margin-right: 3px;
  }
  .slider-all-block .slider-control {
    top: 46px;
    height: 230px;
  }
  .slider-all-block .slider-control .arrow__item {
    width: 8px;
    height: 65px;
  }
  .slider-all-block .slider-control .slider-close {
    top: -43px;
    right: 0px;
  }
  .slider-all-block .slider-control .slider-close .line {
    width: 2px;
    height: 25px;
  }
  .slider-all-block__content {
    padding: 15px 15px 15px;
    border-radius: 10px;
  }
  .slider-all-block__subtitle {
    margin-bottom: 12px;
  }
  .slider-all-block__desc:not(:last-child) {
    margin-bottom: 3px;
  }
  .contacts__desc {
    padding: 15px 10px 30px;
  }
  .contacts__content .item__title {
    font-size: 14px;
  }
  .contacts__content .item__desc p {
    font-size: 12px;
  }
  .contacts__content .item__desc a {
    font-size: 14px;
  }
  .contacts .form .form__inputs .input-i {
    top: 2px;
    font-size: 12px;
  }
  .contacts .form .form__inputs .new__input--active,
  .contacts .form .form__inputs .new__input--active i {
    font-size: 10px;
  }
  .contacts .form__desc {
    font-size: 12px;
  }
  .contacts .form .form__inputs .form__input {
    height: 65px;
    font-size: 18px;
  }
  .contacts .form .input textarea,
  .contacts .form .input input {
    border-radius: 7px;
  }
  .contacts .form .sending {
    padding-left: 10px;
  }
  .contacts .form .sending__label::before {
    flex: 0 0 20px;
    height: 20px;
  }
  .contacts .form .sending__label::after {
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
  }
  .contacts .form .sending__desc,
  .contacts .form .sending__link,
  .contacts .form .sending__link i {
    font-size: 12px;
  }
  .reviews div {
    font-size: 12px;
  }
  .reviews div .ewgZIp {
    width: 100%;
    line-height: 1.4;
    color: rgb(255, 255, 255);
    font-size: 12px;
  }
  .promotions .block .block__ribbon {
    right: 55px;
  }
  .promotions .block .block__ribbon .ribbon__block {
    width: 45px;
    height: 118px;
  }
  .promotions .block .block__ribbon .ribbon__block .rotate {
    top: 37px;
    right: -24px;
  }
  .promotions .block .block__ribbon .ribbon__block span {
    font-size: 14px;
    line-height: 17px;
  }
  .promotions .block .block__img .block__title {
    padding: 5px 5px;
    width: 245px;
    font-size: 16px;
  }
  .promotions .block .block__img .btn {
    padding: 5px;
    bottom: 10px;
    font-size: 10px;
  }
  .promotions .block .block__img .block__link-l {
    left: 5px;
  }
  .promotions .block .block__img .block__link-r {
    right: 5px;
  }
  .promotions .block .content {
    padding: 15px;
  }
  .route .btn {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 10px;
  }
  .route .slogan__img {
    height: 85px;
  }
  .route .slogan__desc {
    font-size: 10px;
  }
  .route .slogan__top {
    top: 15px;
    left: 10px;
  }
  .route .slogan__bottom {
    bottom: 15px;
    right: 10px;
  }
  .footer__container .footer__top .logo__img {
    width: 60px;
    height: 60px;
  }
  .footer__container .footer__top .contact {
    gap: 0;
    flex-direction: column;
    align-items: center;
  }
  .footer__container .footer__top .contact__item {
    align-items: center;
    margin-bottom: 0;
  }
  .footer__container .footer__top .contact__item span, .footer__container .footer__top .contact__item a {
    font-size: 12px;
  }
  .footer__container .footer__top .contact__item svg {
    width: 12px;
    height: 12px;
  }
  .footer__container .footer__top .contact .tel {
    margin-bottom: 10px;
  }
  .footer__container .footer__top .contact .tel__title {
    margin-bottom: 0;
    margin-right: 0;
  }
  .footer__container .footer__top .contact .tel__number {
    align-items: center;
    padding-top: 0;
  }
  .footer__container .footer__top .contact .tel a {
    margin-bottom: 0;
  }
  .footer__container .footer__top .contact .mail__title {
    margin-bottom: 0;
    margin-right: 0;
  }
  .footer__container .footer__top .contact .mail__name {
    padding: 0;
  }
  .footer__container .footer__top .social__item .vk,
  .footer__container .footer__top .social__item .tg,
  .footer__container .footer__top .social__item .ok {
    width: 25px;
    height: 25px;
  }
  .footer__container .footer__top .social__item .vk,
  .footer__container .footer__top .social__item .ok {
    border-radius: 4px;
  }
  .footer__container .footer__top .social__item a {
    margin-bottom: 3px;
  }
  .footer__container .footer__top .social__item img {
    width: 25px;
    height: 25px;
  }
  .footer__container .footer__bottom .footer__dscr,
  .footer__container .footer__bottom .footer__dscr a {
    font-size: 10px;
  }
  .footer__container .footer__bottom .footer__dscr:not(:last-child) {
    margin-bottom: 5px;
  }
}/*# sourceMappingURL=media.css.map */